<div>
    <h2>
        <span>Attendances</span>
        <button class="btn btn-primary float-right jh-create-entity create-attendance" [routerLink]="['/', { outlets: { popup: ['attendance-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Attendance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="attendances">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Month</span></th>
            <th><span>Date</span></th>
            <th><span>Attendance</span></th>
            <th><span>Student</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendance of attendances ;trackBy: trackId">
                <td><a [routerLink]="['../attendance', attendance.id ]">{{attendance.id}}</a></td>
                <td>{{attendance.month}}</td>
                <td>{{attendance.date | date:'medium'}}</td>
                <td>{{attendance.attendance}}</td>
                <td>
                    <div *ngIf="attendance.student">
                        <a [routerLink]="['../student', attendance.student?.id ]" >{{attendance.student?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../attendance', attendance.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attendance/'+ attendance.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attendance/'+ attendance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
